# 🔹 시리즈 생성 원리
- 시리즈는 **값(value)** 과 **인덱스(index)** 로 구성된 1차원 구조임
- **인덱스 자동 생성**: 지정하지 않으면 0부터 시작하는 정수 인덱스가 부여됨
- **사용자 지정 인덱스**: 의미 있는 레이블을 직접 부여 가능 (예: 월 이름)
- 중요한 원리: **값은 위치(절대 인덱스)로 접근 가능하며, 동시에 레이블(의미 인덱스)로도 접근 가능**

In [1]:
import pandas as pd

# 12개월 평균 기온 데이터 입력
temp = pd.Series([-0.8, -0.1, 7.7, 13.8, 18.0, 22.4,
                  25.9, 25.3, 21.0, 14.0, 9.6, -1.4])

# 자동 생성된 인덱스 확인 (0~11)
print("자동 생성 인덱스:\n", temp)

# 월 이름을 레이블 인덱스로 지정
temp.index = ['1월','2월','3월','4월','5월','6월',
              '7월','8월','9월','10월','11월','12월']

print("\n사용자 지정 인덱스:\n", temp)

자동 생성 인덱스:
 0     -0.8
1     -0.1
2      7.7
3     13.8
4     18.0
5     22.4
6     25.9
7     25.3
8     21.0
9     14.0
10     9.6
11    -1.4
dtype: float64

사용자 지정 인덱스:
 1월     -0.8
2월     -0.1
3월      7.7
4월     13.8
5월     18.0
6월     22.4
7월     25.9
8월     25.3
9월     21.0
10월    14.0
11월     9.6
12월    -1.4
dtype: float64

# 🔹 시리즈 정보 확인 원리
- **size**: 저장된 값의 총 개수  
- **shape**: 배열의 구조 (튜플 형태, 시리즈는 항상 `(n,)`)  
- **dtype**: 값의 데이터 타입 → 연산 시 처리 방식에 영향  
- 원리: 시리즈는 **넘파이 배열(ndarray)의 확장판**이므로, 이러한 속성들을 그대로 가짐

In [2]:
print("값의 개수(size):", temp.size)
print("배열의 형태(shape):", temp.shape)   # 시리즈여서 (12,) 임.
print("데이터 타입(dtype):", temp.dtype)

값의 개수(size): 12
배열의 형태(shape): (12,)
데이터 타입(dtype): float64

# 🔹 인덱싱·슬라이싱 원리
- **iloc**: 절대 위치 기반 (정수 인덱스) 접근  
- **loc**: 의미 있는 레이블 인덱스 접근  
- 슬라이싱: 범위 지정 시 **시작 포함, 끝 *제외***  (iloc) / **시작~끝 모두 포함** (loc)  
- 원리: 하나의 데이터에 대해 **두 가지 좌표 체계(위치 vs 레이블)** 를 동시에 제공

In [3]:
# 절대 위치 기반 접근
print("iloc[2] (3번째 값):", temp.iloc[2])

# 레이블 기반 접근
print("loc['3월']:", temp.loc['3월'])

# 여러 개 선택
print("iloc[[3,5,7]]:", temp.iloc[[3,5,7]])
print("loc[['4월','6월','8월']]:", temp.loc[['4월','6월','8월']])

# 범위 지정
print("iloc[5:8]:", temp.iloc[5:8])       # 6~8월
print("loc['6월':'9월']:", temp.loc['6월':'9월'])  # 6월~9월

iloc[2] (3번째 값): 7.7
loc['3월']: 7.7
iloc[[3,5,7]]: 4월    13.8
6월    22.4
8월    25.3
dtype: float64
loc[['4월','6월','8월']]: 4월    13.8
6월    22.4
8월    25.3
dtype: float64
iloc[5:8]: 6월    22.4
7월    25.9
8월    25.3
dtype: float64
loc['6월':'9월']: 6월    22.4
7월    25.9
8월    25.3
9월    21.0
dtype: float64

# 🔹 조건 검색 원리
- 시리즈는 넘파이 배열처럼 **조건식을 그대로 적용** 가능
- 조건에 맞는 값만 True/False로 구분 → True인 값만 반환
- **where()**: 조건 만족하지 않는 값은 NaN으로 처리 → 필요 시 dropna()로 제거
- 원리: **불리언 인덱싱(Boolean Indexing)** 활용

In [4]:
# 조건식 직접 사용
print("15도 이상인 달:\n", temp[temp >= 15])

# 조건식 조합 (and = &, or = |)
print("\n15~25도 사이:\n", temp[(temp >= 15) & (temp < 25)])

# where() 활용
print("\nwhere() 사용:\n", temp.where(temp >= 15))   # where는 소괄호 사용
print("\nwhere() + dropna():\n", temp.where(temp >= 15).dropna())

15도 이상인 달:
 5월    18.0
6월    22.4
7월    25.9
8월    25.3
9월    21.0
dtype: float64

15~25도 사이:
 5월    18.0
6월    22.4
9월    21.0
dtype: float64

where() 사용:
 1월      NaN
2월      NaN
3월      NaN
4월      NaN
5월     18.0
6월     22.4
7월     25.9
8월     25.3
9월     21.0
10월     NaN
11월     NaN
12월     NaN
dtype: float64

where() + dropna():
 5월    18.0
6월    22.4
7월    25.9
8월    25.3
9월    21.0
dtype: float64

# 🔹 연산·통계 원리
- 시리즈는 **벡터화 연산** 지원 (각 원소에 연산이 자동 적용됨)
- 브로드캐스팅: 동일 연산이 전체에 확장 적용
- 통계 메서드: 합계, 평균, 최댓값, 표준편차 등 → 데이터 요약 가능

In [5]:
# 연산 예시
print("모든 값 +1:\n", temp + 1)
print("2 * temp + 0.1:\n", 2 * temp + 0.1)

# 통계 메서드
print("합계:", temp.sum())
print("평균:", temp.mean())
print("표준편차:", temp.std())
print("기초 통계 정보:\n", temp.describe())

모든 값 +1:
 1월      0.2
2월      0.9
3월      8.7
4월     14.8
5월     19.0
6월     23.4
7월     26.9
8월     26.3
9월     22.0
10월    15.0
11월    10.6
12월    -0.4
dtype: float64
2 * temp + 0.1:
 1월     -1.5
2월     -0.1
3월     15.5
4월     27.7
5월     36.1
6월     44.9
7월     51.9
8월     50.7
9월     42.1
10월    28.1
11월    19.3
12월    -2.7
dtype: float64
합계: 155.39999999999998
평균: 12.949999999999998
표준편차: 10.026011624315478
기초 통계 정보:
 count    12.000000
mean     12.950000
std      10.026012
min      -1.400000
25%       5.750000
50%      13.900000
75%      21.350000
max      25.900000
dtype: float64

# 🔹 수정·추가·삭제 원리
- **수정**: 기존 인덱스 지정 → 값 갱신
- **추가**: 존재하지 않는 인덱스 지정 → 새로운 값 삽입
- **삭제**: drop() 메서드로 특정 인덱스 제거
- **복사**: copy()로 독립적 객체 생성 (원본 영향 X)

In [6]:
# 시리즈 생성
score = pd.Series([75, 80, 90, 60],
                  index=['KOR', 'ENG', 'MATH', 'SOC'])

# 값 수정
score.loc['ENG'] = 70
score.loc['MATH'] = 85

# 값 추가
score.loc['PHY'] = 50

# 값 삭제
score = score.drop('SOC')

print("최종 성적 시리즈:\n", score)

# 복사
score_copy = score.copy()
score_copy.loc['KOR'] = 100
print("\n복사본 수정 (원본 유지):\n", score_copy)
print("\n원본:\n", score)

최종 성적 시리즈:
 KOR     75
ENG     70
MATH    85
PHY     50
dtype: int64

복사본 수정 (원본 유지):
 KOR     100
ENG      70
MATH     85
PHY      50
dtype: int64

원본:
 KOR     75
ENG     70
MATH    85
PHY     50
dtype: int64

# 🔹 생각해 보기
1. 여름(6~8월) 평균 기온을 구하시오.  
2. 겨울(12, 1, 2월) 최저 기온을 구하시오.  
3. 성적 데이터에서 평균 이상 점수의 과목만 추출하시오.

In [7]:
# 1번 답안
summer = temp.loc['6월':'8월']
print('여름 평균 기온: ', summer.mean())

여름 평균 기온:  24.53333333333333

In [16]:
temp

1월     -0.8
2월     -0.1
3월      7.7
4월     13.8
5월     18.0
6월     22.4
7월     25.9
8월     25.3
9월     21.0
10월    14.0
11월     9.6
12월    -1.4
dtype: float64

In [13]:
# 2번 답안
winter = temp.loc[['1월', '2월', '12월']]   #대괄호 2개 써야함
print('겨울 최저 기온: ' , winter.min())

겨울 최저 기온:  -1.4

In [18]:
# 3번 답안
score = pd.Series([75, 80, 90, 60],
                  index=['KOR', 'ENG', 'MATH', 'SOC'])
score_mean = score.mean()
score2 = score[score >= score_mean]
scoreIndex = score2.index
print(scoreIndex.tolist())

['ENG', 'MATH']